[submodule "robots/mc_kinova"]
	path = robots/mc_kinova
	url = https://github.com/isri-aist/mc_kinova
[submodule "robots_description/mc_ur5e_description"]
	path = robots_description/mc_ur5e_description
	url = https://github.com/isri-aist/mc_ur5e_description
[submodule "robots/mc_ur5e"]
	path = robots/mc_ur5e
	url = https://github.com/isri-aist/mc_ur5e
[submodule "robots_description/Universal_Robots_ROS2_Description"]
	path = robots_description/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description
	branch = humble
[submodule "robots_description/ros2_kortex"]
	path = robots_description/ros2_kortex
	url = https://github.com/Kinovarobotics/ros2_kortex
	branch = humble
[submodule "robots_description/dingo"]
	path = robots_description/dingo
	url = https://github.com/isri-aist/dingo
[submodule "robots/mc_dingo"]
	path = robots/mc_dingo
	url = https://github.com/isri-aist/mc_dingo
[submodule "robots_interface/mc_rtde"]
	path = robots_interface/mc_rtde
	url = https://github.com/isri-aist/mc_rtde
[submodule "robots_interface/mc_kortex"]
	path = robots_interface/mc_kortex
	url = git@github.com:mathieu-celerier/mc_kortex.git
[submodule "robots/mc_robotiq2f"]
	path = robots/mc_robotiq2f
	url = git@github.com:phamthekhang632/mc_robotiq2f.git
[submodule "controllers/urx_learning"]
	path = controllers/urx_learning
	url = git@github.com:phamthekhang632/urx_learning.git
[submodule "robots_interface/mc_kortex"]
	path = robots_interface/mc_kortex
	url = git@github.com:mathieu-celerier/mc_kortex.git
[submodule "robots_interface/ur_rtde"]
	path = robots_interface/ur_rtde
	url = https://gitlab.com/sdurobotics/ur_rtde.git
[submodule "controllers/kinova_learning"]
	path = controllers/kinova_learning
	url = git@github.com:phamthekhang632/kinova_learning.git
[submodule "robots_description/ros2_robotiq_gripper"]
	path = robots_description/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
